.calibre {
  display: block;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.calibre1 {
  display: block;
  margin: 1em 0 1em 12em;
}
.calibre2 {
  font-size: 1em;
}
.calibre3 {
  display: block;
  text-align: center;
  margin: 1em 0;
}
.calibre4 {
  display: block;
}
.calibre5 {
  display: block;
  margin: 1em 0 1em 10em;
}
.calibre6 {
  display: block;
  margin: 1em 0 1em 9em;
}
.calibre7 {
  display: block;
  margin: 1em 0;
}
.calibre8 {
  font-style: italic;
  line-height: 1.2;
}
.calibre9 {
  font-weight: bold;
}
.calibre10 {
  height: 735px;
  width: 339px;
}
.calibre11 {
  font-size: 0.83333em;
}
.calibre12 {
  display: block;
  margin: 1em 0 1em 4em;
}
.calibre13 {
  font-style: italic;
}
